<div class="hero-unit">
	<h1>Funny Pictures Online!</h1>
	<p>
		You've found the home page for the 
		<%= link_to "Funny Picutres Online", "http://funny_pictures.com" %> application.	
	</p>

	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary" %>
	</p>
</div>
